.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.s-18 {
    width: 18px !important;
    height: 18px !important;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}